@import 'variables.scss';

form {
  width: 100%;
  min-height: 360px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form .form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field label {
  width: 100%;
  margin-bottom: 10px;  
  color: $light;
  text-align: start;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.form-field input {
  width: 100%;
  height: 32px;
  background-color: $background-input;
  color: $light;
  padding: 4px 8px;
  font-size: 0.8rem;
  line-height: 0.8rem;
  border-radius: 10px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field input:focus {
  border: 2px rgb(64, 107, 248) solid;
}

.form-field .input-error {
  width: 100%;
  margin-top: 4px;
  color: $error;
  font-size: 0.8rem;
  line-height: 0.9rem;
  text-align: start;
}

form .actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions button {
  width: 200px;
  height: 40px;
  background: $background-red;
  color: $light;
  padding: 8px 12px;
  border-radius: 16px;
  border: none;

  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.2rem;
  opacity: 0.8;
}

.actions button:hover {
  font-size: 105%;
  opacity: 1;
}

.actions a {
  background-color: transparent;
  color: $light;
  margin-top: 16px;
  font-size: 0.8rem;
  line-height: 1.0rem;
  text-align: center;
  text-decoration: none;
}

.actions a:hover {
  font-size: 105%;
}

@media screen and (max-width:400px) {
  form .actions {
    justify-content: space-between;
  }
}