<div class="container">
  <main>
    <div class="content">
      <header>
        <h3 class="title">Retflix</h3>
      </header>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="form-field">
          <mat-form-field appearance="fill">
            <mat-label for="username">Nome de Usuário</mat-label>
            <input matInput type="text" name="username" formControlName="username"
              placeholder="Digite seu nome de usuário" required>
            <mat-error *ngIf="formGroup.controls.username">{{getErrorMessageUsername()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field appearance="fill">
            <mat-label for="username">Senha</mat-label>
            <input matInput type="password" name="password" formControlName="password"
              placeholder="Digite sua senha" required>
          <span *ngIf="!password" class="input-error">{{ msgErrorPassword }}</span>
            <mat-error *ngIf="formGroup.controls.password">{{getErrorMessagePassword()}}</mat-error>
            <!-- !form.controls.password.pristine -->
          </mat-form-field>
        </div>

        <div class="actions">
          <button type="submit" mat-raised-button [disabled]="!formGroup.valid" color="warn">Entrar</button>
          <a mat-flat-button routerLink="/signup">Não tem conta? Então faça já o seu <b>cadastro</b>.</a>
        </div>
      </form>
    </div>
  </main>
</div>