<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <div appearance="fill" class="form-field">
    <label for="username" class="label">Nome de Usuário</label>
    <input type="text" class="input" name="username" formControlName="username"
      placeholder="Digite seu nome de usuário" required>
    <mat-error *ngIf="formGroup.controls.username" class="input-error">{{getErrorMessageUsername()}}</mat-error>
  </div>

  <div class="form-field">
    <label for="password" class="label">Senha</label>
    <input type="password" name="password" formControlName="password" placeholder="Digite sua senha" required>
    <mat-error *ngIf="getErrorMessagePassword()" class="input-error">
      {{getErrorMessagePassword()}}
    </mat-error>
    <!-- !form.controls.password.pristine -->
  </div>

  <div class="actions">
    <button type="submit" class="btnLogin" [disabled]="!formGroup.valid">Entrar</button>
    <a class="link" routerLink="signup">Não tem conta? Então faça já o seu <b>cadastro</b>.</a>
  </div>
</form>