<main>
  <div class="form-container">
    <app-fetch-movie></app-fetch-movie>
  </div>

  <div class="featured-movie-container">
    <app-featured-movie></app-featured-movie>
  </div>

  <mat-list class="movies-catalog" role="list">

    <li class="movies-list">
      <app-movie-slide class="movie-list-item" [text]="movies.nowPlaying.text" [movies]="movies.nowPlaying.movies"></app-movie-slide>
    </li>

    <li class="movies-list">
      <app-movie-slide class="movie-list-item" [text]="movies.popular.text" [movies]="movies.popular.movies"></app-movie-slide>
    </li>

    <li class="movies-list">
      <app-movie-slide class="movie-list-item" [text]="movies.topRated.text" [movies]="movies.topRated.movies"></app-movie-slide>
    </li>

    <li class="movies-list">
      <app-movie-slide class="movie-list-item" [text]="movies.upcoming.text" [movies]="movies.upcoming.movies"></app-movie-slide>
    </li>

  </mat-list>
</main>